.App {
  // height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: 46px 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

.App-header {
  grid-area: header;
}

.App-main {
  grid-area: main;
}

.App-footer {
  grid-area: footer;
}
