.Title-bar {
  left: 0;
  right: 0;
  text-align: center;
  height: 36px;
  background-color: #71b174;
}

.Title-logo {
  vertical-align: middle;
  margin-bottom: 3px;
}

.Title-text {
  vertical-align: middle;
  margin-left: 5px;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 26px;
  color: white;
}

.App-content {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  bottom: 0;
}
