$background-color: #71b174;
$color: #e0ffe2;
$size: calc(18pt + 0.25vw);

.AppHeader {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: $background-color;
  height: 100%;
}

.Center {
  text-align: center;
  line-height: 40px;
}

.AppLogo {
  height: $size;
  width: $size;
  vertical-align: middle;
}

.TitleText {
  vertical-align: middle;
  margin-left: 4px;
  font-family: "Libre Baskerville", sans-serif;
  font-size: $size;
  color: $color;
}

.SidebarButton {
  position: absolute;
  left: 0;
  padding: 8px;
  color: $color;
  cursor: pointer;
}

.SidebarToggleButton {
  position: absolute;
  left: 0;
  padding: 14px 12px 10px;
  cursor: pointer;
}

.LoginButton {
  position: absolute;
  right: 0;
  padding: 8px;
  color: $color;
  cursor: pointer;
}
